# Rproject files
.Rproj.user
*.Rproj
.Rhistory
.RData
.Ruserdata

# Downloadable files
.temp*
Data/masterTable/Hv3_masterTable_refined.gtf.gz
Data/masterTable/Hv3_splicedmasterTable_refined.gtf.gz
Data/masterTable/Mv2_masterTable_refined.gtf.gz
Data/masterTable/Mv2_splicedmasterTable_refined.gtf.gz
Data/Additional/*.gz
Data/Additional/*.sizes
Data/Additional/hg38.polyAsignals.bed
Data/Additional/mm10.polyAsignals.bed
Data/Additional/hg38_fair+new_CAGE_peaks_phase1and2.bed

# Outdated
old/
